{#
/**
 * @file
 * Default theme implementation to display Gigya RaaS links.
 *
 * Available variables:
 * - links: Contents of the login block.
 * - title: Title to display, if not suppressed.
 *
 * @ingroup themeable
 */
#}

<div>
    {% if title %}
        <h2> {{ title }}</h2>
    {% endif %}
    <div class="gigya-raas">
        <span class="gigya-raas">
            {% if links['login'] %}
                {{ links['login'] }}
            {% endif %}
        </span>
        <span class="gigya-raas">
            {% if links['register'] %}
                {{ links['register'] }}
            {% endif %}
        </span>
        <span class="gigya-raas">
            {% if links['profile'] %}
                {{ links['profile'] }}
            {% endif %}
        </span>
    </div>
</div>
