{#
/**
 * @file
 * Default theme implementation to display a gigya profile block.
 *
 * Available variables:
 * - showDiv: if the user is log in then showDiv = true
 *
 * @ingroup themeable
 */
#}

{% if showDiv %}
    <div id="gigya-raas-profile-div"></div>
{% endif %}
