{#
/**
 * @file
 * Default theme implementation to display a gigya login block.
 *
 * Available variables:
 * - showDiv: if the user is log in then showDiv = false
 *
 * @ingroup themeable
 */
#}

{% if showDiv %}
    <div id="gigya-raas-login-div"></div>
{% endif %}
